<!DOCTYPE html>
<html>

<head>
	<%- include ("./../partials/head") %>
</head>

<body style="background-color: #222;">
	<%- include ("./leader/detail/box") %>
	<%- include ("./card/detail/box") %>
	<div id="deck-menu" class="container">
		<!-- empire select -->
		<div class="box b1 container min-height-100 margin-top-10 radius-5">
			<%- include ("./empire/select/carousel") %>
		</div>
	</div>

	<%- include ("./../partials/loader") %>
</body>
<%- include ("./../partials/lib") %>
<script src="/js/model/user/main.js"></script>
<script src="/js/model/user/empire.js"></script>
<script src="/js/model/empire.js"></script>
<script src="/js/model/card.js"></script>
<script src="/js/model/player.js"></script>
<script src="/js/model/leader.js"></script>

<!-- <script src="js/deck-menu/deck.js"></script>
<script src="js/deck-menu/empire.js"></script>
<script src="js/deck-menu/card.js"></script>
<script src="js/deck-menu/leader.js"></script>
<script src="js/deck-menu/main.js"></script> -->

<%- include ("./leader/detail/script") %>
<%- include ("./empire/select/script") %>
<%- include ("./script") %>

</html>