<form id="card-create-form" class="box b1 container padding-10">
  <div class="box b1 lucida-grande bold center" style="color:#f0f0f0;">Criar carta</div>
  <input type="hidden" name="id" value="">

  <input type="text" name="code" class="box b4 input-generic nofocus center margin-top-5" placeholder="Código da Carta"
    autocomplete="off">

  <input type="text" name="power" class="box b4 input-generic nofocus center margin-top-5" placeholder="Poder da carta"
    autocomplete="off">

  <input type="text" name="name" class="box b2 input-generic nofocus center margin-top-5" placeholder="Nome da Carta"
    autocomplete="off">

  <select name="empire_id" class="box b2 input-generic hide-disabled nofocus center margin-top-5 border cursor-2">
    <option value='' selected disabled>Império</option>
    <% for(let i in empires) { %>
    <option value='<%= empires[i].id %>'><%= empires[i].name %></option>
    <% } %>
  </select>

  <select name="range_id" class="box b2 input-generic hide-disabled nofocus center margin-top-5 border cursor-2">
    <option value="" selected disabled>Distância de combate</option>
    <% for(let i in ranges) { %>
    <option value='<%= ranges[i].id %>'><%= ranges[i].name %></option>
    <% } %>
  </select>

  <select name="hero" class="box b2 input-generic nofocus center margin-top-5 border">
    <option value='0'>Comum</option>
    <option value='1'>Herói</option>
  </select>

  <select name="ability_id" class="box b2 input-generic nofocus center margin-top-5 border cursor-2">
    <option value='0'>Nenhuma</option>
    <% for(let i in abilities) { %>
    <option value='<%= abilities[i].id %>'><%= abilities[i].name %></option>
    <% } %>
  </select>

  <input type="text" name="image" class="box b2 input-generic margin-top-5 center cursor-2" placeholder="URL da Imagem">

  <input type="submit" name="submit" class="box b2 submit-generic margin-top-5 cursor-2" value="Cadastrar Carta">
</form>