<!DOCTYPE html>
<html>
<head>
	<% include ./../partials/head %>
</head>
<body style="background-color: #222;">
	<div class="container">
		<form class="box b2 container padding-10 margin-top-10 border">
			<div class="box b2 margin-top-10">
				<div class="box b1 lucida-grande em08 bold" style="color:#f0f0f0;">Código</div>
				<input type="text" name="code" class="box b1 input-generic nofocus" placeholder="Código da Carta" autocomplete="off">
			</div>
			
			<div class="box b2 margin-top-10">
				<div class="box b1 lucida-grande em08 bold" style="color:#f0f0f0;">Nome</div>
				<input type="text" name="name" class="box b1 input-generic nofocus" placeholder="Nome da Carta" autocomplete="off">
			</div>
			
			<div class="box b2 margin-top-10">
				<div class="box b1 lucida-grande em08 bold" style="color:#f0f0f0;">Classe</div>
				<select name="hero" class="box b1 input-generic nofocus border">
					<option value='0'>Comum</option>
					<option value='1'>Herói</option>
				</select>
			</div>

			<div class="box b2 margin-top-10">
				<div class="box b1 lucida-grande em08 bold" style="color:#f0f0f0;">Império</div>
				<select name="range" class="box b1 input-generic nofocus border cursor-2">
					<% for(let i in empires) { %>
						<option value='<%= empires[i].id %>'><%= empires[i].name %></option>
					<% } %>
				</select>
			</div>

			<div class="box b2 margin-top-10">
				<div class="box b1 lucida-grande em08 bold" style="color:#f0f0f0;">Distância de combate</div>
				<select name="range" class="box b1 input-generic nofocus border cursor-2">
					<option value='0'>Especial</option>
					<% for(let i in ranges) { %>
						<option value='<%= ranges[i].id %>'><%= ranges[i].description %></option>
					<% } %>
				</select>
			</div>

			<div class="box b2 margin-top-10">
				<div class="box b1 lucida-grande em08 bold" style="color:#f0f0f0;">Habilidade</div>
				<select name="range" class="box b1 input-generic nofocus border cursor-2">
					<option value='0'>Nenhuma</option>
					<% for(let i in abilities) { %>
						<option value='<%= abilities[i].id %>'><%= abilities[i].name %></option>
					<% } %>
				</select>
			</div>

			<input type="button" name="button" class="box b1 submit-generic margin-top-10 cursor-2" value="Cadastrar Carta">
		</form>
	</div>
	<% include ./../partials/loader %>
</body>
<% include ./../partials/lib %>
</html>