<!DOCTYPE html>
<html>
<head>
	<%- include ("./../partials/head") %>
</head>
<body style="background-color: #222;">
	<div class="container">
		<a class="box b1 lucida-grande bold opacity-out-08 padding-5 cursor-2" href="/" style="color:#fff;">Home</a>
		<div class="box b2 container margin-top-10">
			<%- include ("./components/card-create-form") %>
		</div>

		<div class="box b2 container margin-top-10">
			<%- include ("./components/card-filter-form") %>
		</div>
	</div>

	<div class="box b1 container padding-10 radius-5 h-center">
		<div id="card-filter-box" class="box b1 container margin-top-5 padding-10 radius-5 h-center max-height-400 scroll-y"></div>
	</div>

	<%- include ("./../partials/loader") %>
</body>
<%- include ("./../partials/lib") %>
<script src="js/model/card.js"></script>
<script src="js/card-menu/card.js"></script>
</html>